In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
df.shape

(1030, 9)

In [4]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
df_columns = df.columns

predictors = df[df_columns[df_columns != 'Strength']]
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
target = df['Strength']
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [8]:
# Normalization
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [9]:
from tensorflow import keras

In [10]:
from keras.models import Sequential
from keras.layers import Dense

In [11]:
n_cols = predictors_norm.shape[1]
n_cols

8

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

In [13]:
X_train.shape

(721, 8)

In [14]:

def regression_model():
    
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [15]:
model = regression_model()

In [16]:
model.fit(X_train, y_train, epochs=100, verbose=2)

Epoch 1/100
23/23 - 0s - loss: 1559.0144 - 294ms/epoch - 13ms/step
Epoch 2/100
23/23 - 0s - loss: 1541.6354 - 18ms/epoch - 782us/step
Epoch 3/100
23/23 - 0s - loss: 1523.7463 - 15ms/epoch - 652us/step
Epoch 4/100
23/23 - 0s - loss: 1505.0217 - 19ms/epoch - 826us/step
Epoch 5/100
23/23 - 0s - loss: 1485.3685 - 14ms/epoch - 609us/step
Epoch 6/100
23/23 - 0s - loss: 1464.8976 - 14ms/epoch - 609us/step
Epoch 7/100
23/23 - 0s - loss: 1442.8207 - 14ms/epoch - 609us/step
Epoch 8/100
23/23 - 0s - loss: 1419.6981 - 14ms/epoch - 609us/step
Epoch 9/100
23/23 - 0s - loss: 1395.1997 - 14ms/epoch - 609us/step
Epoch 10/100
23/23 - 0s - loss: 1369.1296 - 13ms/epoch - 565us/step
Epoch 11/100
23/23 - 0s - loss: 1341.5913 - 14ms/epoch - 609us/step
Epoch 12/100
23/23 - 0s - loss: 1313.3740 - 13ms/epoch - 565us/step
Epoch 13/100
23/23 - 0s - loss: 1283.2015 - 14ms/epoch - 609us/step
Epoch 14/100
23/23 - 0s - loss: 1252.4871 - 14ms/epoch - 609us/step
Epoch 15/100
23/23 - 0s - loss: 1220.7756 - 13ms/epoch - 565us/step
Epoch 16/100
23/23 - 0s - loss: 1188.2280 - 14ms/epoch - 609us/step
Epoch 17/100
23/23 - 0s - loss: 1154.8645 - 13ms/epoch - 565us/step
Epoch 18/100
23/23 - 0s - loss: 1120.9822 - 13ms/epoch - 565us/step
Epoch 19/100
23/23 - 0s - loss: 1086.2610 - 15ms/epoch - 652us/step
Epoch 20/100
23/23 - 0s - loss: 1051.4662 - 14ms/epoch - 609us/step
Epoch 21/100
23/23 - 0s - loss: 1016.6801 - 13ms/epoch - 565us/step
Epoch 22/100
23/23 - 0s - loss: 981.2245 - 14ms/epoch - 609us/step
Epoch 23/100
23/23 - 0s - loss: 945.3917 - 14ms/epoch - 609us/step
Epoch 24/100
23/23 - 0s - loss: 910.9222 - 13ms/epoch - 565us/step
Epoch 25/100
23/23 - 0s - loss: 875.6647 - 13ms/epoch - 565us/step
Epoch 26/100
23/23 - 0s - loss: 841.2387 - 13ms/epoch - 565us/step
Epoch 27/100
23/23 - 0s - loss: 807.2973 - 13ms/epoch - 565us/step
Epoch 28/100
23/23 - 0s - loss: 773.5699 - 14ms/epoch - 608us/step
Epoch 29/100
23/23 - 0s - loss: 740.7979 - 14ms/epoch - 609us/step
Epoch 30/100
23/23 - 0s - loss: 708.3447 - 14ms/epoch - 609us/step
Epoch 31/100
23/23 - 0s - loss: 677.4976 - 14ms/epoch - 609us/step
Epoch 32/100
23/23 - 0s - loss: 647.0967 - 12ms/epoch - 522us/step
Epoch 33/100
23/23 - 0s - loss: 618.0240 - 13ms/epoch - 565us/step
Epoch 34/100
23/23 - 0s - loss: 589.9195 - 13ms/epoch - 565us/step
Epoch 35/100
23/23 - 0s - loss: 562.4769 - 13ms/epoch - 565us/step
Epoch 36/100
23/23 - 0s - loss: 536.8690 - 14ms/epoch - 609us/step
Epoch 37/100
23/23 - 0s - loss: 512.0171 - 14ms/epoch - 609us/step
Epoch 38/100
23/23 - 0s - loss: 488.2114 - 14ms/epoch - 609us/step
Epoch 39/100
23/23 - 0s - loss: 465.6909 - 15ms/epoch - 652us/step
Epoch 40/100
23/23 - 0s - loss: 444.3454 - 13ms/epoch - 565us/step
Epoch 41/100
23/23 - 0s - loss: 424.3262 - 13ms/epoch - 565us/step
Epoch 42/100
23/23 - 0s - loss: 405.3169 - 13ms/epoch - 565us/step
Epoch 43/100
23/23 - 0s - loss: 387.5126 - 14ms/epoch - 609us/step
Epoch 44/100
23/23 - 0s - loss: 370.9644 - 13ms/epoch - 565us/step
Epoch 45/100
23/23 - 0s - loss: 355.5457 - 14ms/epoch - 609us/step
Epoch 46/100
23/23 - 0s - loss: 341.1464 - 15ms/epoch - 652us/step
Epoch 47/100
23/23 - 0s - loss: 327.6269 - 14ms/epoch - 609us/step
Epoch 48/100
23/23 - 0s - loss: 314.9463 - 15ms/epoch - 652us/step
Epoch 49/100
23/23 - 0s - loss: 303.5929 - 14ms/epoch - 609us/step
Epoch 50/100
23/23 - 0s - loss: 292.7914 - 13ms/epoch - 565us/step
Epoch 51/100
23/23 - 0s - loss: 282.8743 - 14ms/epoch - 609us/step
Epoch 52/100
23/23 - 0s - loss: 273.5514 - 13ms/epoch - 565us/step
Epoch 53/100
23/23 - 0s - loss: 265.2588 - 14ms/epoch - 609us/step
Epoch 54/100
23/23 - 0s - loss: 257.3167 - 14ms/epoch - 609us/step
Epoch 55/100
23/23 - 0s - loss: 250.2559 - 14ms/epoch - 609us/step
Epoch 56/100
23/23 - 0s - loss: 243.4118 - 15ms/epoch - 652us/step
Epoch 57/100
23/23 - 0s - loss: 237.3051 - 13ms/epoch - 565us/step
Epoch 58/100
23/23 - 0s - loss: 231.9542 - 13ms/epoch - 565us/step
Epoch 59/100
23/23 - 0s - loss: 226.6817 - 13ms/epoch - 565us/step
Epoch 60/100
23/23 - 0s - loss: 222.0381 - 14ms/epoch - 609us/step
Epoch 61/100
23/23 - 0s - loss: 217.7673 - 13ms/epoch - 565us/step
Epoch 62/100
23/23 - 0s - loss: 213.9189 - 14ms/epoch - 609us/step
Epoch 63/100
23/23 - 0s - loss: 210.2693 - 13ms/epoch - 565us/step
Epoch 64/100
23/23 - 0s - loss: 206.9912 - 14ms/epoch - 609us/step
Epoch 65/100
23/23 - 0s - loss: 204.0258 - 12ms/epoch - 522us/step
Epoch 66/100
23/23 - 0s - loss: 201.1417 - 13ms/epoch - 565us/step
Epoch 67/100
23/23 - 0s - loss: 198.5546 - 13ms/epoch - 565us/step
Epoch 68/100
23/23 - 0s - loss: 196.1246 - 14ms/epoch - 609us/step
Epoch 69/100
23/23 - 0s - loss: 193.8222 - 14ms/epoch - 609us/step
Epoch 70/100
23/23 - 0s - loss: 191.7887 - 13ms/epoch - 565us/step
Epoch 71/100
23/23 - 0s - loss: 189.8284 - 13ms/epoch - 565us/step
Epoch 72/100
23/23 - 0s - loss: 187.9801 - 13ms/epoch - 565us/step
Epoch 73/100
23/23 - 0s - loss: 186.2119 - 13ms/epoch - 565us/step
Epoch 74/100
23/23 - 0s - loss: 184.5860 - 13ms/epoch - 565us/step
Epoch 75/100
23/23 - 0s - loss: 183.1185 - 14ms/epoch - 609us/step
Epoch 76/100
23/23 - 0s - loss: 181.6161 - 14ms/epoch - 609us/step
Epoch 77/100
23/23 - 0s - loss: 180.1866 - 16ms/epoch - 696us/step
Epoch 78/100
23/23 - 0s - loss: 178.9395 - 16ms/epoch - 696us/step
Epoch 79/100
23/23 - 0s - loss: 177.5340 - 14ms/epoch - 609us/step
Epoch 80/100
23/23 - 0s - loss: 176.2702 - 15ms/epoch - 652us/step
Epoch 81/100
23/23 - 0s - loss: 174.9987 - 13ms/epoch - 565us/step
Epoch 82/100
23/23 - 0s - loss: 173.7729 - 14ms/epoch - 609us/step
Epoch 83/100
23/23 - 0s - loss: 172.5971 - 13ms/epoch - 565us/step
Epoch 84/100
23/23 - 0s - loss: 171.4405 - 14ms/epoch - 609us/step
Epoch 85/100
23/23 - 0s - loss: 170.4104 - 13ms/epoch - 565us/step
Epoch 86/100
23/23 - 0s - loss: 169.3285 - 15ms/epoch - 652us/step
Epoch 87/100
23/23 - 0s - loss: 168.2779 - 21ms/epoch - 913us/step
Epoch 88/100
23/23 - 0s - loss: 167.2895 - 13ms/epoch - 565us/step
Epoch 89/100
23/23 - 0s - loss: 166.2957 - 15ms/epoch - 652us/step
Epoch 90/100
23/23 - 0s - loss: 165.3027 - 16ms/epoch - 695us/step
Epoch 91/100
23/23 - 0s - loss: 164.4586 - 16ms/epoch - 696us/step
Epoch 92/100
23/23 - 0s - loss: 163.5297 - 15ms/epoch - 652us/step
Epoch 93/100
23/23 - 0s - loss: 162.6489 - 14ms/epoch - 609us/step
Epoch 94/100
23/23 - 0s - loss: 161.7485 - 12ms/epoch - 522us/step
Epoch 95/100
23/23 - 0s - loss: 160.8496 - 18ms/epoch - 783us/step
Epoch 96/100
23/23 - 0s - loss: 160.0886 - 13ms/epoch - 565us/step
Epoch 97/100
23/23 - 0s - loss: 159.1680 - 12ms/epoch - 522us/step
Epoch 98/100
23/23 - 0s - loss: 158.4323 - 14ms/epoch - 609us/step
Epoch 99/100
23/23 - 0s - loss: 157.5382 - 15ms/epoch - 652us/step
Epoch 100/100
23/23 - 0s - loss: 156.7876 - 16ms/epoch - 696us/step

In [17]:
loss = model.evaluate(X_test, y_test)
loss

10/10 [==============================] - 0s 778us/step - loss: 153.6214

153.62136840820312

In [18]:
from sklearn.metrics import mean_squared_error

y_pred = model.predict(X_test)

# Compute the Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred)

10/10 [==============================] - 0s 778us/step

In [19]:
mse_list = []

# Repeat steps 1-3
for _ in range(50):
    # Step 1: Randomly split the data into training set and test set
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)
    
    # Step 2: Create and train the model on the training data
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    model.compile(optimizer='adam', loss='mean_squared_error')
    model.fit(X_train, y_train, epochs=100, verbose=0)  # Training with 100 epochs
    
    # Step 3: Evaluate the model on the test data and compute MSE
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    
    # Append the MSE to the list
    mse_list.append(mse)

mse_list

10/10 [==============================] - 0s 779us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 555us/step
10/10 [==============================] - 0s 889us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 889us/step
10/10 [==============================] - 0s 666us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 555us/step
10/10 [==============================] - 0s 890us/step
10/10 [==============================] - 0s 556us/step
10/10 [==============================] - 0s 666us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 1000us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 671us/step
10/10 [==============================] - 0s 556us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 889us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 889us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 996us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 889us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 555us/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 556us/step
10/10 [==============================] - 0s 778us/step

[168.62249847730973,
 177.54495654572256,
 146.79230971790773,
 148.03176322308573,
 154.93860696208688,
 154.0332495188922,
 157.65542150872352,
 157.1847799624644,
 151.07765038564017,
 171.49975950461348,
 151.53101578378477,
 169.57364036483534,
 142.47391733892172,
 178.13131466641482,
 151.05208078431474,
 161.69535089093412,
 159.74748883451463,
 155.32064672793524,
 159.71303673878225,
 166.1335532059797,
 161.62782993365173,
 171.71041799906632,
 145.91046576108175,
 146.7582757830333,
 173.1214534746916,
 138.97781382358787,
 162.42213556073906,
 160.7256472506227,
 178.89567861472082,
 142.7129587286153,
 152.23393376325035,
 149.24018094309952,
 157.29946312921606,
 167.9761622180554,
 156.1344353188223,
 156.83345972453844,
 153.2558806718086,
 149.16692890271355,
 134.17415172804482,
 215.7792225255823,
 153.4251106011014,
 144.4535414655417,
 147.37700959948637,
 147.21754924617693,
 173.31938003672985,
 154.47496932946527,
 146.64316355733078,
 164.40440612096123,
 145.25459858787113,
 177.1967474713379]

In [20]:
# mean and standard deviation of mean squared error list
mse_mean = np.mean(mse_list)
mse_std = np.std(mse_list)

In [21]:
mse_mean

158.2295202602762

In [22]:
mse_std

13.639048604571894

In [ ]:
#Comparing the values, it appears that the mean MSE is significantly lower when the model is trained for a larger number of epochs;
#this suggests that the model's performance has improved with more training, which in turn indicates
#that the predictions are more consistent when the model is trained for a larger number of epochs.
#This is expected, since training a model for more epochs means it has had more opportunities to learn from the dataset,
#but the performance must always be monitored to avoid overfitting the model to the training data.