In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
df.shape

(1030, 9)

In [4]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
df_columns = df.columns

predictors = df[df_columns[df_columns != 'Strength']] 
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
target = df['Strength'] 
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [8]:
# Normalization
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [9]:
from tensorflow import keras

In [10]:
from keras.models import Sequential
from keras.layers import Dense

In [11]:
n_cols = predictors_norm.shape[1]
n_cols

8

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

In [13]:
X_train.shape

(721, 8)

In [14]:
def regression_model():
    model = Sequential()
    
    # Add the first hidden layer with 10 nodes and ReLU activation
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    
    # Add the second hidden layer with 10 nodes and ReLU activation
    model.add(Dense(10, activation='relu'))

    # Add the third hidden layer with 10 nodes and ReLU activation
    model.add(Dense(10, activation='relu'))
    
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [15]:
model = regression_model()

In [16]:
model.fit(X_train, y_train, epochs=50, verbose=2)

Epoch 1/50
23/23 - 0s - loss: 1575.9436 - 404ms/epoch - 18ms/step
Epoch 2/50
23/23 - 0s - loss: 1547.0990 - 17ms/epoch - 739us/step
Epoch 3/50
23/23 - 0s - loss: 1512.9768 - 20ms/epoch - 869us/step
Epoch 4/50
23/23 - 0s - loss: 1467.7747 - 17ms/epoch - 751us/step
Epoch 5/50
23/23 - 0s - loss: 1405.5256 - 14ms/epoch - 609us/step
Epoch 6/50
23/23 - 0s - loss: 1315.2456 - 14ms/epoch - 609us/step
Epoch 7/50
23/23 - 0s - loss: 1184.3302 - 15ms/epoch - 652us/step
Epoch 8/50
23/23 - 0s - loss: 1005.1365 - 15ms/epoch - 652us/step
Epoch 9/50
23/23 - 0s - loss: 781.9730 - 15ms/epoch - 652us/step
Epoch 10/50
23/23 - 0s - loss: 547.5612 - 15ms/epoch - 652us/step
Epoch 11/50
23/23 - 0s - loss: 365.1836 - 15ms/epoch - 652us/step
Epoch 12/50
23/23 - 0s - loss: 276.2247 - 15ms/epoch - 652us/step
Epoch 13/50
23/23 - 0s - loss: 242.3051 - 16ms/epoch - 696us/step
Epoch 14/50
23/23 - 0s - loss: 226.1111 - 18ms/epoch - 783us/step
Epoch 15/50
23/23 - 0s - loss: 214.6972 - 18ms/epoch - 783us/step
Epoch 16/50
23/23 - 0s - loss: 206.1205 - 21ms/epoch - 913us/step
Epoch 17/50
23/23 - 0s - loss: 199.0344 - 23ms/epoch - 1ms/step
Epoch 18/50
23/23 - 0s - loss: 193.1167 - 19ms/epoch - 826us/step
Epoch 19/50
23/23 - 0s - loss: 187.9269 - 19ms/epoch - 826us/step
Epoch 20/50
23/23 - 0s - loss: 183.0159 - 18ms/epoch - 783us/step
Epoch 21/50
23/23 - 0s - loss: 178.6326 - 20ms/epoch - 870us/step
Epoch 22/50
23/23 - 0s - loss: 174.6697 - 19ms/epoch - 826us/step
Epoch 23/50
23/23 - 0s - loss: 170.6916 - 19ms/epoch - 826us/step
Epoch 24/50
23/23 - 0s - loss: 167.8361 - 19ms/epoch - 826us/step
Epoch 25/50
23/23 - 0s - loss: 164.3685 - 17ms/epoch - 739us/step
Epoch 26/50
23/23 - 0s - loss: 160.7922 - 15ms/epoch - 652us/step
Epoch 27/50
23/23 - 0s - loss: 157.7115 - 15ms/epoch - 652us/step
Epoch 28/50
23/23 - 0s - loss: 154.9501 - 15ms/epoch - 652us/step
Epoch 29/50
23/23 - 0s - loss: 151.9109 - 15ms/epoch - 652us/step
Epoch 30/50
23/23 - 0s - loss: 149.1619 - 15ms/epoch - 652us/step
Epoch 31/50
23/23 - 0s - loss: 146.3212 - 15ms/epoch - 652us/step
Epoch 32/50
23/23 - 0s - loss: 143.8977 - 15ms/epoch - 652us/step
Epoch 33/50
23/23 - 0s - loss: 141.3542 - 16ms/epoch - 696us/step
Epoch 34/50
23/23 - 0s - loss: 138.7737 - 15ms/epoch - 652us/step
Epoch 35/50
23/23 - 0s - loss: 136.3555 - 15ms/epoch - 652us/step
Epoch 36/50
23/23 - 0s - loss: 133.6654 - 17ms/epoch - 739us/step
Epoch 37/50
23/23 - 0s - loss: 131.1555 - 16ms/epoch - 696us/step
Epoch 38/50
23/23 - 0s - loss: 128.7446 - 17ms/epoch - 739us/step
Epoch 39/50
23/23 - 0s - loss: 126.4181 - 15ms/epoch - 652us/step
Epoch 40/50
23/23 - 0s - loss: 124.1167 - 15ms/epoch - 652us/step
Epoch 41/50
23/23 - 0s - loss: 121.7997 - 17ms/epoch - 739us/step
Epoch 42/50
23/23 - 0s - loss: 119.1523 - 18ms/epoch - 783us/step
Epoch 43/50
23/23 - 0s - loss: 117.0429 - 14ms/epoch - 609us/step
Epoch 44/50
23/23 - 0s - loss: 115.1854 - 14ms/epoch - 609us/step
Epoch 45/50
23/23 - 0s - loss: 112.8498 - 15ms/epoch - 652us/step
Epoch 46/50
23/23 - 0s - loss: 110.6806 - 15ms/epoch - 652us/step
Epoch 47/50
23/23 - 0s - loss: 109.0091 - 16ms/epoch - 696us/step
Epoch 48/50
23/23 - 0s - loss: 106.6724 - 16ms/epoch - 696us/step
Epoch 49/50
23/23 - 0s - loss: 104.7916 - 15ms/epoch - 652us/step
Epoch 50/50
23/23 - 0s - loss: 103.0334 - 14ms/epoch - 609us/step

In [17]:
loss = model.evaluate(X_test, y_test)
loss

10/10 [==============================] - 0s 889us/step - loss: 103.7025

103.70252990722656

In [18]:
from sklearn.metrics import mean_squared_error

y_pred = model.predict(X_test)

# Compute the Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred)

10/10 [==============================] - 0s 555us/step

In [19]:
mse_list = []

for _ in range(50):
    
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)
    
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    # Add the second hidden layer with 10 nodes and ReLU activation
    model.add(Dense(10, activation='relu'))

    # Add the third hidden layer with 10 nodes and ReLU activation
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    model.compile(optimizer='adam', loss='mean_squared_error')
    model.fit(X_train, y_train, epochs=50, verbose=0)  # Training with 50 epochs
    
    # Step 3: Evaluate the model on the test data and compute MSE
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    
    # Append the MSE to the list
    mse_list.append(mse)

mse_list

10/10 [==============================] - 0s 555us/step
10/10 [==============================] - 0s 889us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 889us/step
10/10 [==============================] - 0s 999us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 889us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 763us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 807us/step
10/10 [==============================] - 0s 949us/step
10/10 [==============================] - 0s 889us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 777us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 889us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 889us/step
10/10 [==============================] - 0s 779us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 889us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 889us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 926us/step
10/10 [==============================] - 0s 777us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 810us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 890us/step
10/10 [==============================] - 0s 889us/step
10/10 [==============================] - 0s 985us/step
10/10 [==============================] - 0s 889us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 889us/step
10/10 [==============================] - 0s 884us/step

[137.52060779858803,
 93.76185157311672,
 140.11365776715417,
 125.28842694683074,
 130.6678542980545,
 120.89965851570103,
 105.93213833473766,
 121.48540888238587,
 116.49452198128883,
 127.02412842022004,
 133.65323301443746,
 125.76756130566172,
 124.76880990266436,
 112.5050514938182,
 138.0912606625107,
 136.73917130153134,
 115.19720848023792,
 121.34561443508807,
 138.55239917483362,
 133.51385744082015,
 132.35487543868572,
 96.70296634355122,
 106.90808991798875,
 97.46262537350128,
 107.92739517452225,
 117.81955526278684,
 130.01649540462927,
 110.05904532625605,
 131.6050300948433,
 98.24977365550902,
 110.60708169788153,
 134.16825038782812,
 129.89008410218483,
 105.60956284849802,
 135.42970313188889,
 125.74500296333015,
 130.64227400417963,
 118.57293719039667,
 136.5911555677333,
 127.42655664948369,
 130.69425227551068,
 126.18274309368704,
 119.82120313716206,
 131.41801317911958,
 126.28372239672458,
 130.10742121942502,
 99.30437253880612,
 135.51938010107924,
 126.18071397409959,
 140.6898702114364]

In [20]:
# mean and standard deviation of mean squared error list
mse_mean = np.mean(mse_list)
mse_std = np.std(mse_list)

In [21]:
mse_mean

122.98625148784822

In [22]:
mse_std

12.664159179525125

In [23]:
#Comparing the values, it seems that the mean MSE is significantly lower for the second neural network with three hidden layers; 
#this suggests that the second model, with more complexity - more hidden layers - , is performing better on the normalized data.
#Furthermore, the standard deviation of the MSE is much lower for the second neural network; 
#this, in turn, suggests that the predictions are more consistent when the model has more hidden layers.