In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
df.shape

(1030, 9)

In [4]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
df_columns = df.columns

predictors = df[df_columns[df_columns != 'Strength']] 
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
target = df['Strength']
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [8]:
# Normalization
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [9]:
from tensorflow import keras

In [10]:
from keras.models import Sequential
from keras.layers import Dense

In [11]:
n_cols = predictors_norm.shape[1]
n_cols

8

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

In [13]:
X_train.shape

(721, 8)

In [14]:
def regression_model():
    
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [15]:
model = regression_model()

In [16]:
model.fit(X_train, y_train, epochs=50, verbose=2)

Epoch 1/50
23/23 - 1s - loss: 1593.5189 - 609ms/epoch - 26ms/step
Epoch 2/50
23/23 - 0s - loss: 1577.6873 - 48ms/epoch - 2ms/step
Epoch 3/50
23/23 - 0s - loss: 1562.3899 - 46ms/epoch - 2ms/step
Epoch 4/50
23/23 - 0s - loss: 1547.2625 - 41ms/epoch - 2ms/step
Epoch 5/50
23/23 - 0s - loss: 1532.0709 - 56ms/epoch - 2ms/step
Epoch 6/50
23/23 - 0s - loss: 1516.6390 - 48ms/epoch - 2ms/step
Epoch 7/50
23/23 - 0s - loss: 1500.8910 - 56ms/epoch - 2ms/step
Epoch 8/50
23/23 - 0s - loss: 1484.7167 - 48ms/epoch - 2ms/step
Epoch 9/50
23/23 - 0s - loss: 1468.0651 - 43ms/epoch - 2ms/step
Epoch 10/50
23/23 - 0s - loss: 1450.6908 - 50ms/epoch - 2ms/step
Epoch 11/50
23/23 - 0s - loss: 1432.6713 - 50ms/epoch - 2ms/step
Epoch 12/50
23/23 - 0s - loss: 1413.9141 - 50ms/epoch - 2ms/step
Epoch 13/50
23/23 - 0s - loss: 1394.2507 - 43ms/epoch - 2ms/step
Epoch 14/50
23/23 - 0s - loss: 1373.5165 - 49ms/epoch - 2ms/step
Epoch 15/50
23/23 - 0s - loss: 1351.6870 - 50ms/epoch - 2ms/step
Epoch 16/50
23/23 - 0s - loss: 1328.5785 - 53ms/epoch - 2ms/step
Epoch 17/50
23/23 - 0s - loss: 1304.2328 - 47ms/epoch - 2ms/step
Epoch 18/50
23/23 - 0s - loss: 1278.7357 - 53ms/epoch - 2ms/step
Epoch 19/50
23/23 - 0s - loss: 1252.0331 - 52ms/epoch - 2ms/step
Epoch 20/50
23/23 - 0s - loss: 1224.4177 - 49ms/epoch - 2ms/step
Epoch 21/50
23/23 - 0s - loss: 1194.8386 - 70ms/epoch - 3ms/step
Epoch 22/50
23/23 - 0s - loss: 1164.9750 - 53ms/epoch - 2ms/step
Epoch 23/50
23/23 - 0s - loss: 1134.1970 - 49ms/epoch - 2ms/step
Epoch 24/50
23/23 - 0s - loss: 1102.4581 - 48ms/epoch - 2ms/step
Epoch 25/50
23/23 - 0s - loss: 1070.4203 - 53ms/epoch - 2ms/step
Epoch 26/50
23/23 - 0s - loss: 1037.7059 - 52ms/epoch - 2ms/step
Epoch 27/50
23/23 - 0s - loss: 1004.7322 - 73ms/epoch - 3ms/step
Epoch 28/50
23/23 - 0s - loss: 971.8602 - 60ms/epoch - 3ms/step
Epoch 29/50
23/23 - 0s - loss: 938.3391 - 55ms/epoch - 2ms/step
Epoch 30/50
23/23 - 0s - loss: 904.9739 - 49ms/epoch - 2ms/step
Epoch 31/50
23/23 - 0s - loss: 871.8646 - 60ms/epoch - 3ms/step
Epoch 32/50
23/23 - 0s - loss: 838.6753 - 48ms/epoch - 2ms/step
Epoch 33/50
23/23 - 0s - loss: 805.7532 - 43ms/epoch - 2ms/step
Epoch 34/50
23/23 - 0s - loss: 772.8497 - 41ms/epoch - 2ms/step
Epoch 35/50
23/23 - 0s - loss: 740.7453 - 50ms/epoch - 2ms/step
Epoch 36/50
23/23 - 0s - loss: 708.5448 - 53ms/epoch - 2ms/step
Epoch 37/50
23/23 - 0s - loss: 676.9590 - 51ms/epoch - 2ms/step
Epoch 38/50
23/23 - 0s - loss: 647.0414 - 70ms/epoch - 3ms/step
Epoch 39/50
23/23 - 0s - loss: 617.5861 - 69ms/epoch - 3ms/step
Epoch 40/50
23/23 - 0s - loss: 589.5876 - 58ms/epoch - 3ms/step
Epoch 41/50
23/23 - 0s - loss: 562.1726 - 58ms/epoch - 3ms/step
Epoch 42/50
23/23 - 0s - loss: 536.4452 - 48ms/epoch - 2ms/step
Epoch 43/50
23/23 - 0s - loss: 511.3332 - 45ms/epoch - 2ms/step
Epoch 44/50
23/23 - 0s - loss: 487.7116 - 52ms/epoch - 2ms/step
Epoch 45/50
23/23 - 0s - loss: 465.1423 - 50ms/epoch - 2ms/step
Epoch 46/50
23/23 - 0s - loss: 444.4927 - 67ms/epoch - 3ms/step
Epoch 47/50
23/23 - 0s - loss: 424.0334 - 64ms/epoch - 3ms/step
Epoch 48/50
23/23 - 0s - loss: 405.5089 - 50ms/epoch - 2ms/step
Epoch 49/50
23/23 - 0s - loss: 388.0742 - 46ms/epoch - 2ms/step
Epoch 50/50
23/23 - 0s - loss: 372.0079 - 40ms/epoch - 2ms/step

In [17]:
loss = model.evaluate(X_test, y_test)
loss

10/10 [==============================] - 0s 4ms/step - loss: 339.6938

339.6937561035156

In [18]:
from sklearn.metrics import mean_squared_error

y_pred = model.predict(X_test)

# Compute the Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred)

10/10 [==============================] - 0s 2ms/step

In [19]:
mse_list = []

# Repeat steps 1-3, 50 times
for _ in range(50):
    # Step 1: Randomly split the data into training set and test set
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)
    
    # Step 2: Create and train the model on the training data
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    model.compile(optimizer='adam', loss='mean_squared_error')
    model.fit(X_train, y_train, epochs=50, verbose=0)  # Training with 50 epochs
    
    # Step 3: Evaluate the model on the test data and compute MSE
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    
    # Append the MSE to the list
    mse_list.append(mse)

mse_list

10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 4ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 4ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 4ms/step
10/10 [==============================] - 0s 4ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 0s/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 3ms/step

[303.3507361532194,
 361.6322505362589,
 271.77325398421505,
 349.88174544487026,
 357.5480697659887,
 467.1348463255567,
 263.5594678253129,
 257.6083236414074,
 399.3762576605956,
 365.7168018008707,
 313.1730440207282,
 282.8511083654814,
 426.8595485395214,
 355.36656081809474,
 343.44561071961425,
 572.450109873073,
 354.94549672573703,
 401.43715484227437,
 263.29934499019913,
 327.7884229478961,
 352.28533453714783,
 257.72852120643796,
 411.805521285142,
 421.09441112020124,
 372.5402948103932,
 232.9677726919061,
 490.99376659660163,
 309.9610833819338,
 340.4009704567851,
 286.32639701404185,
 437.80725534542734,
 291.9958888363339,
 492.2175495447095,
 384.1035067415864,
 296.9441222444436,
 322.1708106074493,
 388.0842515976652,
 332.5891157077019,
 320.5879434476024,
 273.58436650116187,
 228.3832590196385,
 474.795438670543,
 258.89357610498973,
 267.7155992168297,
 365.7455754901218,
 300.91790508420166,
 393.04338026979696,
 523.2704404528978,
 347.8259817540388,
 301.7387563153133]

In [20]:
# mean and standard deviation of mean squared error list
mse_mean = np.mean(mse_list)
mse_std = np.std(mse_list)

In [21]:
mse_mean

350.35433902067916

In [22]:
mse_std

77.06414174670502

In [ ]:
#Comparing the values, the mean MSE is slightly lower for the normalized data compared to the original data. 
#While this suggests that the model might be performing slightly better on the normalized data, 
#given that the difference isn't that large, we can't affirm that for certain based solely on this variable.