In [1]:
#import libraries
import pandas as pd
import numpy as np

In [2]:
#creating a data frame

df = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
df.shape

(1030, 9)

In [4]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
df_columns = df.columns

predictors = df[df_columns[df_columns != 'Strength']] # all columns except Strength
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
target = df['Strength'] 
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [8]:
from tensorflow import keras

In [9]:
from keras.models import Sequential
from keras.layers import Dense

In [10]:
n_cols = predictors.shape[1]
n_cols

8

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [12]:
X_train.shape

(721, 8)

In [13]:
def regression_model():
    
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [14]:
model = regression_model()

In [15]:
model.fit(X_train, y_train, epochs=50, verbose=2)

Epoch 1/50
23/23 - 0s - loss: 74256.0469 - 357ms/epoch - 16ms/step
Epoch 2/50
23/23 - 0s - loss: 8211.6328 - 15ms/epoch - 650us/step
Epoch 3/50
23/23 - 0s - loss: 3302.6582 - 14ms/epoch - 609us/step
Epoch 4/50
23/23 - 0s - loss: 2781.0271 - 13ms/epoch - 565us/step
Epoch 5/50
23/23 - 0s - loss: 2379.0784 - 14ms/epoch - 609us/step
Epoch 6/50
23/23 - 0s - loss: 2074.6106 - 14ms/epoch - 609us/step
Epoch 7/50
23/23 - 0s - loss: 1812.7570 - 14ms/epoch - 609us/step
Epoch 8/50
23/23 - 0s - loss: 1572.5961 - 13ms/epoch - 565us/step
Epoch 9/50
23/23 - 0s - loss: 1375.7574 - 13ms/epoch - 565us/step
Epoch 10/50
23/23 - 0s - loss: 1199.4495 - 14ms/epoch - 609us/step
Epoch 11/50
23/23 - 0s - loss: 1053.5367 - 13ms/epoch - 565us/step
Epoch 12/50
23/23 - 0s - loss: 929.6763 - 14ms/epoch - 609us/step
Epoch 13/50
23/23 - 0s - loss: 822.4527 - 14ms/epoch - 609us/step
Epoch 14/50
23/23 - 0s - loss: 731.9863 - 13ms/epoch - 565us/step
Epoch 15/50
23/23 - 0s - loss: 654.4168 - 13ms/epoch - 565us/step
Epoch 16/50
23/23 - 0s - loss: 588.7924 - 13ms/epoch - 565us/step
Epoch 17/50
23/23 - 0s - loss: 525.2758 - 15ms/epoch - 652us/step
Epoch 18/50
23/23 - 0s - loss: 462.6020 - 13ms/epoch - 565us/step
Epoch 19/50
23/23 - 0s - loss: 402.7456 - 14ms/epoch - 609us/step
Epoch 20/50
23/23 - 0s - loss: 350.0799 - 14ms/epoch - 609us/step
Epoch 21/50
23/23 - 0s - loss: 303.6379 - 14ms/epoch - 609us/step
Epoch 22/50
23/23 - 0s - loss: 263.2115 - 14ms/epoch - 609us/step
Epoch 23/50
23/23 - 0s - loss: 231.4197 - 12ms/epoch - 522us/step
Epoch 24/50
23/23 - 0s - loss: 207.8709 - 15ms/epoch - 652us/step
Epoch 25/50
23/23 - 0s - loss: 192.6595 - 14ms/epoch - 609us/step
Epoch 26/50
23/23 - 0s - loss: 174.1782 - 13ms/epoch - 565us/step
Epoch 27/50
23/23 - 0s - loss: 161.3799 - 13ms/epoch - 565us/step
Epoch 28/50
23/23 - 0s - loss: 150.6698 - 14ms/epoch - 609us/step
Epoch 29/50
23/23 - 0s - loss: 142.8721 - 14ms/epoch - 609us/step
Epoch 30/50
23/23 - 0s - loss: 136.6630 - 13ms/epoch - 565us/step
Epoch 31/50
23/23 - 0s - loss: 132.3903 - 13ms/epoch - 565us/step
Epoch 32/50
23/23 - 0s - loss: 127.5153 - 12ms/epoch - 522us/step
Epoch 33/50
23/23 - 0s - loss: 123.6738 - 13ms/epoch - 565us/step
Epoch 34/50
23/23 - 0s - loss: 123.0509 - 14ms/epoch - 609us/step
Epoch 35/50
23/23 - 0s - loss: 119.4091 - 13ms/epoch - 565us/step
Epoch 36/50
23/23 - 0s - loss: 119.0965 - 16ms/epoch - 696us/step
Epoch 37/50
23/23 - 0s - loss: 117.1244 - 13ms/epoch - 565us/step
Epoch 38/50
23/23 - 0s - loss: 115.9101 - 13ms/epoch - 565us/step
Epoch 39/50
23/23 - 0s - loss: 115.2787 - 14ms/epoch - 609us/step
Epoch 40/50
23/23 - 0s - loss: 117.6021 - 13ms/epoch - 565us/step
Epoch 41/50
23/23 - 0s - loss: 113.3927 - 13ms/epoch - 565us/step
Epoch 42/50
23/23 - 0s - loss: 112.3962 - 14ms/epoch - 609us/step
Epoch 43/50
23/23 - 0s - loss: 113.0078 - 13ms/epoch - 565us/step
Epoch 44/50
23/23 - 0s - loss: 112.4696 - 14ms/epoch - 609us/step
Epoch 45/50
23/23 - 0s - loss: 112.3895 - 13ms/epoch - 565us/step
Epoch 46/50
23/23 - 0s - loss: 112.1169 - 13ms/epoch - 565us/step
Epoch 47/50
23/23 - 0s - loss: 112.4181 - 12ms/epoch - 522us/step
Epoch 48/50
23/23 - 0s - loss: 112.5431 - 13ms/epoch - 565us/step
Epoch 49/50
23/23 - 0s - loss: 112.1078 - 14ms/epoch - 609us/step
Epoch 50/50
23/23 - 0s - loss: 110.3951 - 13ms/epoch - 565us/step

In [16]:
loss = model.evaluate(X_test, y_test)
loss

10/10 [==============================] - 0s 889us/step - loss: 108.7137

108.71372985839844

In [17]:
from sklearn.metrics import mean_squared_error

y_pred = model.predict(X_test)

# Compute the Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred)

10/10 [==============================] - 0s 889us/step

In [20]:
mse_list = []

# Repeat steps 1-3, 50 times
for _ in range(50):
    # Step 1: Randomly split the data into training set and test set
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)
    
    # Step 2: Create and train the model on the training data
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    model.compile(optimizer='adam', loss='mean_squared_error')
    model.fit(X_train, y_train, epochs=50, verbose=0)  # Training with 50 epochs
    
    # Step 3: Evaluate the model on the test data and compute MSE
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    
    # Append the MSE to the list
    mse_list.append(mse)

mse_list

10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 889us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 555us/step
10/10 [==============================] - 0s 665us/step
10/10 [==============================] - 0s 556us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 555us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 555us/step
10/10 [==============================] - 0s 724us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 889us/step
10/10 [==============================] - 0s 671us/step
10/10 [==============================] - 0s 666us/step
10/10 [==============================] - 0s 889us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 889us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 889us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 2ms/step
10/10 [==============================] - 0s 668us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 779us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 889us/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 778us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 667us/step
10/10 [==============================] - 0s 783us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 773us/step
10/10 [==============================] - 0s 1000us/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 1ms/step
10/10 [==============================] - 0s 889us/step
10/10 [==============================] - 0s 889us/step

[260.7371883293311,
 851.7482000358251,
 314.4974912741038,
 99.3152876719066,
 360.42245595247954,
 802.7574417472468,
 150.01189640504043,
 205.153195014166,
 381.1456578674315,
 179.41243121589505,
 93.44341966626199,
 940.1455509174814,
 102.9178218395128,
 224.78354400173077,
 484.4356925304414,
 490.5183894519013,
 112.98324189698303,
 208.23394067681193,
 166.80235366243102,
 638.2823628182081,
 454.0514966026251,
 113.634760345829,
 115.74140189681205,
 113.16729874152615,
 129.91108226410051,
 1515.328786259208,
 255.41195904695803,
 512.3932866906093,
 708.569043567449,
 470.96665021733753,
 854.5642403379665,
 101.09056552994647,
 624.1794180170427,
 1460.5273196738299,
 92.70426650136511,
 109.96319435881534,
 156.63341418378116,
 107.24287940169903,
 127.38676298513617,
 126.39993715168423,
 879.3284144513565,
 113.02928851743498,
 145.84995408845353,
 168.4785481073226,
 773.1525338637043,
 124.41196583966276,
 327.2106613747201,
 206.6875746722108,
 142.1981603211062,
 99.376608418307]

In [21]:
# mean and standard deviation of mean squared error list
mse_mean = np.mean(mse_list)
mse_std = np.std(mse_list)

In [22]:
mse_mean

363.9467807280638

In [23]:
mse_std

340.7958290304001